<div templateId="Main" style="width: 344px; background-color: white;border: 1px solid #e0e0e0; margin-left:10px; margin-top:3px;padding-bottom:5px;" class="hierarchyItem" >
    <table width="100%" style="padding-top: 5px;">
        <tr style="display:{#clientAnalysis1Visible};">
            <td style="width: 104px;text-align: right;">
                <div class="fontWrap">
                    <span style="font-family: Arial; font-size: 8.25pt; font-weight: bold; color: #525252">{#clientAnalysis1Label}</span>
                </div>
            </td>
            <td>
                <div id="{#clientAnalysis1DropDownContainer}" style="padding-left: 8px;"></div>
            </td>
        </tr>
        <tr style="display:{#clientAnalysis2Visible};">
            <td style="width: 104px;text-align: right;">
                <div class="fontWrap">
                    <span style="font-family: Arial; font-size: 8.25pt; font-weight: bold; color: #525252">{#clientAnalysis2Label}</span>
                </div>
            </td>
            <td>
                <div id="{#clientAnalysis2DropDownContainer}" style="padding-left: 8px;"></div>
            </td>
        </tr>
        <tr style="display:{#clientAnalysis3Visible};">
            <td style="width: 104px;text-align: right;">
                <div class="fontWrap">
                    <span style="font-family: Arial; font-size: 8.25pt; font-weight: bold; color: #525252">{#clientAnalysis3Label}</span>
                </div>
            </td>
            <td>
                <div id="{#clientAnalysis3DropDownContainer}" style="padding-left: 8px;"></div>
            </td>
        </tr>
        <tr style="display:{#clientAnalysis4Visible};">
            <td style="width: 104px;text-align: right;">
                <div class="fontWrap">
                    <span style="font-family: Arial; font-size: 8.25pt; font-weight: bold; color: #525252">{#clientAnalysis4Label}</span>
                </div> 
            </td>
            <td>
                <div id="{#clientAnalysis4DropDownContainer}" style="padding-left: 8px;"></div>
            </td>
        </tr>
        <tr style="display:{#clientAnalysis5Visible};">
            <td style="width: 104px;text-align: right;">
                <div class="fontWrap">
                    <span style="font-family: Arial; font-size: 8.25pt; font-weight: bold; color: #525252">{#clientAnalysis5Label}</span>
                </div>
            </td>
            <td>
                <div id="{#clientAnalysis5DropDownContainer}" style="padding-left: 8px;"></div>
            </td>
        </tr>
    </table>
</div>