<div templateId="CustomLogoRootTemplate" class="customLogo" style="padding:20px;">
    <div>
        <table style="width:100%;">
            <tr>
                <td>
                    <div class="title_group_report">Select Your Logo</div>
                    <div class="content_group_report" >
                        <table>
                            <tr>
                                <td class="top_left_dotted_container"></td>
                                <td class="top_center_dotted_container"></td>
                                <td class="top_right_dotted_container"></td>
                            </tr>
                            <tr>
                                <td class="center_left_dotted_container"></td>
                                <td class="center_center_dotted_container" id="leftPanelCustomLogoDiv">
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td class="logoLeft"></td>
                                            <td class="logoCenter">
                                                <input class="logoInput" type="text" value="" id="{#fileInputId}" style="width:150px;"/>
                                            </td>
                                            <td class="logoRight"></td>
                                            <td style="padding-left:5px;">
                                               <div style="height:22px;width:60px;padding-top: 1px;" id="{#browseInputId}" class="cabinet"> 
                                                    <div style="height:22px;width:60px;" id="{#browseInputId}_label" class="browseButton"/>
                                                </div>                                            
                                            </td>
                                            <td style="padding-left:5px;">
                                                <div class="uploadButton" id="{#uploadButton}"></div>
                                            </td>
                                            <td></td>
                                        </tr>                                        						
                                    </table>
                                    <div style="padding-top: 15px;padding-bottom:15px;padding-left: 10px;" class="text_logo">Please note: Your logo should be 105x85px and 150dpi.</div>
                                    <div class="example_logo"></div>
                                </td>
                                <td class="center_right_dotted_container"></td>
                            </tr>
                            <tr>
                                <td class="bottom_left_dotted_container"></td>
                                <td class="bottom_center_dotted_container"></td>
                                <td class="bottom_right_dotted_container"></td>
                            </tr>
                        </table>
                    </div>	
                </td>
                <td style="vertical-align: top;">
                    <div class="title_group_report">Uploaded Logo Preview</div>
                    <div class="content_group_report" >
                        <table>
                            <tr>
                                <td class="top_left_dotted_container"></td>
                                <td class="top_center_dotted_container"></td>
                                <td class="top_right_dotted_container"></td>
                            </tr>
                            <tr>
                                <td class="center_left_dotted_container"></td>
                                <td class="center_center_dotted_container" id="rightPanelCustomLogoDiv" style="vertical-align: top;">
                                    <table>
                                        <tr>
                                            <td>
                                                <div class="empty_logo" id="logoPreviewDiv">
                                                    <img style="width: 217px;height: 177px;display: none;"/>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="padding-top: 10px;">
                                                <div class="removeLogoButton" id="{#removeButton}"></div>
                                            </td>
                                        </tr>						
                                    </table>
                                </td>
                                <td class="center_right_dotted_container"></td>
                            </tr>
                            <tr>
                                <td class="bottom_left_dotted_container"></td>
                                <td class="bottom_center_dotted_container"></td>
                                <td class="bottom_right_dotted_container"></td>
                            </tr>
                        </table>
                    </div>	
                </td>
                <td style="width:280px;"></td>
            </tr>
        </table>        
    </div>
</div>

