<table templateId="mainTabs" cellpadding="0" cellspacing="0" style="width:100%;">
    <tr>
        <td>
            <table  cellpadding="0" cellspacing="0" style="width: 100%;">
                <tr>
                    <td style="width:6px;border-bottom:solid 1px #dfdfdf;"></td>
                    <td style="width: 65px;">
                        <div id="groupTabColumns" groupTab="1" groupTabs="1">
                            <table cellpadding="0" cellspacing="0" style="width:100%;">
                                <tr>
                                    <td class="groupLeft" corner="1"></td>
                                    <td class="groupCenter" corner="2">
                                        <div class="divTabText" style="position: relative;z-index: 100;">COLUMNS
                                            <span class="tabText" shadow="1" style="position: absolute;left:-1px;top:-1px;">COLUMNS</span>    
                                        </div>
                                    </td>
                                    <td class="groupRight" corner="3"></td>
                                </tr>
                            </table>
                        </div>
                    </td> 
                    <td style="width:4px;border-bottom:solid 1px #dfdfdf;"></td>
                    <td style="width: 59px;">
                        <div id="groupTabSorting" groupTab="2" groupTabs="1">
                            <table cellpadding="0" cellspacing="0" style="width:100%;">
                                <tr>
                                    <td class="groupLeft leftInactive" corner="1"></td>
                                    <td class="groupCenter inactive" corner="2">
                                         <div class="divTabText" style="position: relative;z-index: 100;">SORTING
                                            <span class="tabText" shadow="1" style="position: absolute;left:-1px;top:-1px;">SORTING</span>    
                                        </div>
                                    </td>
                                    <td class="groupRight rightInactive" corner="3"></td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td style="width:4px;border-bottom:solid 1px #dfdfdf;"></td>
                    <td style="width: 67px;">
                        <div id="groupTabGrouping" groupTab="3" groupTabs="1">
                            <table cellpadding="0" cellspacing="0" style="width:100%;">
                                <tr>
                                    <td class="groupLeft leftInactive" corner="1"></td>
                                    <td class="groupCenter inactive" corner="2">
                                         <div class="divTabText" style="position: relative;z-index: 100;">GROUPING
                                            <span class="tabText" shadow="1" style="position: absolute;left:-1px;top:-1px;">GROUPING</span>    
                                        </div>
                                    </td>
                                    <td class="groupRight rightInactive" corner="3"></td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td style="border-bottom:solid 1px #dfdfdf;">
                        <div></div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="groupTab">
            <div id="groupMainTabColumns"></div>
            <div id="groupMainTabSorting"></div>
            <div id="groupMainTabGrouping"></div>
        </td>
    </tr>
</table>
