<div templateId="mainGrouping">
    <div>
        <div  class="summary_fields">Summary Settings</div>
        <div  style="padding: 10px; padding-left: 0px;">
            <div style="float: left;" id="pageBreakCheckBox"></div>
            <div style="float: left; margin-left: 5px; line-height: 16px;"><span style="font-family: Arial; font-size: 8.25pt; color: #292929">Page break after each group</span></div>
            <div style="float: left; margin-left: 35px;" id="removeDetailCheckBox"></div>
            <div style="float: left; margin-left: 5px; line-height: 16px;"><span style="font-family: Arial; font-size: 8.25pt; color: #292929">Remove all report detail and show totals by group only</span></div>
        </div>
    </div>
    <br/>
    <div>
        <div class="summary_fields">Summarize Fields<span id="summarizeFieldsCount" class="numbers_of_fields"></span></div>
        <div id="summarizeFields" style="padding: 10px;padding-left: 0px;"></div>
    </div>
    <div id="groupingDragDropFields"></div>
</div>
