<div templateId="SummarizeContainer" style="overflow-y: scroll;height: 57px;">
    <div id="leftBlock" style="float: left;width: 285px;"></div>
    <div id="rightBlock" style="float: left;width: 200px;"></div>
</div>

<div templateId="SummarizeItem" style="width: 100%">
    <div style="float: left;" id="{#SummarizeItemCheckBoxContainerId}"></div>
    <div style="float: left; margin-left: 5px; line-height: 16px;"><span style="font-family: Arial; font-size: 8.25pt; color: #292929">{#FieldName}</span></div>
    <br/>
</div>
