<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <appSettings>
    <add key="ReportServerURL" value="http://DBTEST1/ReportServer/ReportService2005.asmx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ReportExecutionURL" value="http://DBTEST1/ReportServer/ReportExecution2005.asmx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ReportServerPassword" value="h4z_hjeK~sDuf8YSMW39mWwaP" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PreviewImageURL" value="http://testweb/ReportBuilderAjax/Previews/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="LogoImageURL" value="http://testweb/ReportBuilderAjax/CompanyLogo/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ReportFolder" value="http://testweb/ReportBuilderAjax/Reports/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="Store1Connection" connectionString="Data Source=DBTEST1;Initial Catalog=Store1;User Id=ReportingUser;Password=ce3eMedr" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="AuthenticationConnection" connectionString="Data Source=SQLTEST;Initial Catalog=MSIClaim;User Id=ReportBuilder_SecUser;Password=IgTcfn_ai29g2P" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="MsiclaimEntities" connectionString="metadata=res://*/MSIClaimModel.csdl|res://*/MSIClaimModel.ssdl|res://*/MSIClaimModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQLTEST;Initial Catalog=Msiclaim;Persist Security Info=True;User ID=ReportingUser;Password=ce3eMedr;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ReportProjectDBEntities" connectionString="metadata=res://*/ReportModel.csdl|res://*/ReportModel.ssdl|res://*/ReportModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DBTEST1;Initial Catalog=ReportProjectDB;Persist Security Info=True;User ID=ReportingUser;Password=ce3eMedr;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>