<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="IntegrationModule" preCondition="integratedMode" type="ReportBuilderAjax.Web.HttpHandlers.IntegrationModule, ReportBuilderAjax.Web"/>
      <add name="DomainServiceModule" preCondition="managedHandler" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="Auth" verb="*" path="Auth.aspx" type="ReportBuilderAjax.Web.HttpHandlers.IntegrationHandler"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <location path="images">
    <system.web>
      <authorization>
        <allow users = "*"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <customErrors mode="Off"/>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="IntegrationModule" type="ReportBuilderAjax.Web.HttpHandlers.IntegrationModule"/>
      <add name="DomainServiceModule" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </httpModules>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="Auth.aspx" type="ReportBuilderAjax.Web.HttpHandlers.IntegrationHandler"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
    </httpHandlers>
    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <httpRuntime requestValidationMode="2.0"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" defaultUrl="~/ReportBuilder.aspx" name="authRBCookie" timeout="2880"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>

    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>
  <appSettings>
    <add key="MaxComboRecordCount" value="20"/>
    <add key="ReportServerURL" value="http://sqldev/ReportServer/ReportService2005.asmx" />
    <add key="ReportExecutionURL" value="http://sqldev/ReportServer/ReportExecution2005.asmx" />
    <add key="ReportServerPath" value="/ReportProject/"/>
    <add key="ReportServerUserID" value="ICEBarReports"/>
    <add key="ReportServerPassword" value="d4s8kb!t"/>
    <add key="ReportServerDomain" value=""/>
    <add key="MaxReportRecordCount" value="65536"/>
    <add key="UserAuthorizationCheckTicks" value="300000"/>
    <add key="ReportFileStorage" value="http://temp/"/>
    <add key="ApplicationEnvironment" value="Local"/>
    <add key="SaveRdlFileForDebugging" value="true"/>
    <add key="EnableFileServerSecurity" value="false"/>
    <add key="FileServerPath" value="C:\Temp\"/>
    <add key="FileServerDomain" value="WIN7DEV"/>
    <add key="FileServerUserID" value="FileStore"/>
    <add key="FileServerPassword" value="f1lest0re"/>
    <add key="PreviewImageURL" value="http://localhost:44710/Previews/"/>
    <add key="LogoImageURL" value="http://localhost:44710/CompanyLogo/"/>
    <add key="ReportFolder" value="http://localhost:44710/Reports/"/>
    <add key="LogExceptionsOnly" value="false"/>
    <add key="userName" value="CHARLESW"/>
    <add key="associationNumber" value="388"/>
    <add key="userId" value="1725"/>
    <add key="IntegrationSessionPeriod" value="30"/>
  </appSettings>
  <connectionStrings>
    <add name="Store1Connection" connectionString="Data Source=SQLDEV;Initial Catalog=Store1_Dev;User Id=ReportingUser;Password=ce3eMedr" />
    <add name="MsiclaimEntities" connectionString="metadata=res://*/MSIClaimModel.csdl|res://*/MSIClaimModel.ssdl|res://*/MSIClaimModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQLDEV;Initial Catalog=Msiclaim;Persist Security Info=True;User ID=ReportingUser;Password=ce3eMedr;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <!--add name="ReportProjectDBEntities" connectionString="metadata=res://*/ReportModel.csdl|res://*/ReportModel.ssdl|res://*/ReportModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\MSSQLSERVER2008;initial catalog=ReportProjectDB;persist security info=True;user id=deployment;password=yGHbuJn;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /-->
    <add name="ReportProjectDBEntities" connectionString="metadata=res://*/ReportModel.csdl|res://*/ReportModel.ssdl|res://*/ReportModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQLDEV;initial catalog=ReportProjectDB;user id=ReportingUser;password=ce3eMedr;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AuthenticationConnection" connectionString="Data Source=SQLDEV;Initial Catalog=MSIClaim;User Id=ReportBuilder_SecUser;Password=IgTcfn_ai29g2P" />
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ReportBuilderServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="6553600" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="MyCustomBinding" receiveTimeout="00:10:00" sendTimeout="00:10:00" openTimeout="00:10:00" closeTimeout="00:10:00">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="FileUploadCustomBinding">
          <binaryMessageEncoding />
          <!-- max buffer 64k, max message 20MB -->
          <httpTransport transferMode="Streamed" maxBufferSize="65536" maxReceivedMessageSize="20971520" />
        </binding>
        <binding name="RdlServiceCustomBinding" receiveTimeout="00:10:00" sendTimeout="00:10:00" openTimeout="00:10:00" closeTimeout="00:10:00">
          <binaryMessageEncoding>
            <readerQuotas maxStringContentLength="2097152" maxArrayLength="2097152" />
          </binaryMessageEncoding>
          <!-- max buffer 2MB, max message 2MB -->
          <httpTransport maxBufferSize="2097152" maxReceivedMessageSize="2097152" />
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ReportBuilderServiceBehavior" name="ReportBuilderAjax.Web.HttpHandlers.ReportGenerationService">
        <endpoint address="" binding="customBinding" bindingConfiguration="MyCustomBinding" contract="ReportBuilderAjax.Web.HttpHandlers.ReportGenerationService" />
      </service>
      <service behaviorConfiguration="ReportBuilderServiceBehavior" name="ReportBuilderAjax.Web.HttpHandlers.RdlService">
        <endpoint address="" binding="customBinding" bindingConfiguration="RdlServiceCustomBinding" contract="ReportBuilderAjax.Web.HttpHandlers.RdlService" />
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>